body{
    background: #3c3f45;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
}

header{
    background: #4a4f56;
    text-align: center;
    padding: 30px;
}
 
h1{
    color: #ff8984;
    margin: 0;
}
 
p{
    color: #ff8984;
    width: 210.34048461914062;
    height: 28;
    top: 71px;
    left: 495.41px;
    angle: 0 deg;
    opacity: 1;
}

.shopping-list{
    width: 500px;
    margin:  40px auto;
    padding: 0;
}
.shopping-list li{
    list-style: none;
    background: #88839e;
    padding: 15px;
    border-bottom: 1px solid #80799c;
}

.shopping-list li:nth-child(even) {
    background: #625e77;
}

.shopping-list li:hover{
    background: #555861;
}

label{
    cursor: pointer;
}

li:hover{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

input:checked+span{
    margin-right: 10px;
    text-decoration: line-through;
}

button{
    width: 500px;
    margin: 20px auto;
    background: #4a4f56;
    text-align: center;
    padding: 20px;
    color: #ff8984;
    font-size: 20px;
    display: block;
}
